@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* general styles --> font-family and anchor tags*/
* {
    font-family: 'IBM Plex Sans', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: grey;
    transition: color .25s ease-in-out;
}

.letter-spacing {
    letter-spacing: 3px;
}

#body-gimbal, #body-focus-puller, #body-about {
    display: none;
}

/* test to eventually make the video to fit the screen absolutely */
.video-absolute-fill {
    height: 100%;
    width: auto;
}

/* about section */
.custom-bg-img { /* background image */
    background-image: url("../images/about-rod.jpeg"); 
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    min-height: 500px;
    height: 100%;
    width: 100%;
    max-width: 1000px; /* override Bootstrap max-width of 540px for md breakpoint */
}
.text-justify { /* justifiy text */
    text-align: justify;
}

/* custom footer font-size that needed to be smaller */
.custom-text-footer {
    font-size: 0.75rem;
}

/* Custom grid, image, hover overlay effect and modal button */
.custom-btn {
    position:absolute;
    right:0;
    top:-50px;
    z-index:999;
    font-size:1.5rem;
}

.custom-img-overlay { 
    background-color: rgb(0, 0, 0);
    color: #fff;
    width: 100%;
    cursor: pointer;
}
.custom-img-overlay div {
    z-index: 10;
    /*border-top: 3rem solid rgba(0, 0, 0);*/
    /*border-bottom: 3rem solid rgba(0, 0, 0);*/
    line-height: 1.1em;
    opacity: 0;
    letter-spacing: 1px;
}
.custom-img-overlay * {
    transition: all 500ms ease;
}
.custom-img-overlay:hover > img {
    opacity: 0.40;
}
.custom-img-overlay:hover div {
    opacity: 1;
}

.modal-backdrop {
    opacity: .85 !important;
 }


 /* media queries to adjust certain behaviours in certain breakpoints */
 @media only screen and (max-width: 400px) {
    /* selecting the header tag */
    nav a * {
        font-size: 1.325rem;
        letter-spacing: 2px;
    }
 }